[Desktop Entry]
Categories=System;TerminalEmulator;
Comment=A fast, feature full, GPU based terminal emulator
Exec=kitty-tmux
GenericName=Terminal emulator
Icon=kitty
Name=kitty-tmux
TryExec=kitty-tmux
Type=Application
Version=1.0
