[Desktop Entry]
Name=Brutal Doom
GenericName=Game
Comment=Launch Brutal Doom
Exec=/home/jakchyla/bin/doom --brutal-doom
Icon=doom
Type=Application
Terminal=false
Categories=Game;
Keywords=Doom; Game;
