[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/google-chrome-stable %U
Icon=google-chrome
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-AppStream-Ignore=True
Name=Google Chrome
Comment=Access the Internet
X-XFCE-Source=file:///usr/share/applications/exo-terminal-emulator.desktop
Path=
