[Desktop Entry]
Type=Application
TryExec=konsole
Exec=konsole -e tmux
Icon=utilities-terminal
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Actions=NewWindow;NewTab;
X-DocPath=konsole/index.html
X-DBUS-StartupType=Unique
StartupNotify=true
X-KDE-AuthorizeAction=shell_access
StartupWMClass=konsole

Name=Konsole-tmux
GenericName=Terminal
Comment=Command line access
